* { box-sizing: border-box; }
body {
  font-family: 
    -apple-system,
    BlinkMacSystemFont, 
    Segoe UI,
    Helvetica Neue,
    Helvetica,
    sans-serif;
  font-size: 16px;
}
a {
  line-height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: blue;
  text-align: center;
  margin: 0 .25rem;
}
a[data-active='true'] {
  background: blue;
  color: white;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 1rem .5rem;
}
button {
  background: white;
  border: 2px solid blue;
  color: blue;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
  padding: .5rem;
  font-family: inherit;
}
h1 { margin: 0; }
section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}
section:nth-of-type(2n) { background: tomato; }
section:nth-of-type(2n-1) { background: #e4e4e4; }

